USE [master]
GO
/****** Object:  Database [THI247]    Script Date: 3/24/2025 8:20:24 PM ******/
CREATE DATABASE [THI247]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THI247', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MAY1\MSSQL\DATA\THI247.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'THI247_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MAY1\MSSQL\DATA\THI247_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THI247].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THI247]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[exam_id] [int] IDENTITY(1,1) NOT NULL,
	[exam_name] [nvarchar](100) NULL,
	[create_date] [varchar](50) NULL,
	[userID] [int] NULL,
	[subject_id] [int] NULL,
	[timer] [int] NULL,
	[price] [int] NULL,
	[view_count] [int] NOT NULL,
	[like_count] [int] NOT NULL,
	[is_approved] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[exam_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamPayment]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamPayment](
	[userID] [int] NULL,
	[exam_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamQuestion]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamQuestion](
	[question_id] [int] NULL,
	[exam_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flashcard]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flashcard](
	[flashcardId] [int] IDENTITY(1,1) NOT NULL,
	[sectionId] [int] NOT NULL,
	[question] [nvarchar](255) NOT NULL,
	[answer] [nvarchar](255) NOT NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[flashcardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum_comment]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum_comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[post_id] [int] NULL,
	[comment_context] [nvarchar](700) NULL,
	[comment_date] [nvarchar](50) NULL,
	[comment_react] [int] NULL,
	[commentImg] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum_post]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum_post](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[post_title] [nvarchar](700) NULL,
	[post_context] [nvarchar](700) NULL,
	[post_date] [nvarchar](50) NULL,
	[post_react] [int] NULL,
	[post_img] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[notiID] [int] IDENTITY(1,1) NOT NULL,
	[noti_name] [nvarchar](max) NULL,
	[noti_create_date] [nvarchar](50) NULL,
	[userID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[notiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[amount] [int] NULL,
	[payment_date] [nvarchar](50) NULL,
	[payment_code] [nvarchar](200) NULL,
	[bank] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionBank]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionBank](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_id] [int] NULL,
	[question_context] [nvarchar](4000) NULL,
	[question_choice_1] [nvarchar](4000) NULL,
	[question_choice_2] [nvarchar](4000) NULL,
	[question_choice_3] [nvarchar](4000) NULL,
	[question_choice_correct] [nvarchar](4000) NULL,
	[question_explain] [nvarchar](4000) NULL,
	[question_img] [nvarchar](4000) NULL,
	[question_explain_img] [nvarchar](4000) NULL,
	[userID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[user_reported_id] [int] NULL,
	[report_Context] [nvarchar](700) NULL,
	[report_date] [nvarchar](50) NULL,
	[report_img] [nvarchar](4000) NULL,
	[post_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportReason]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportReason](
	[reason_id] [int] IDENTITY(1,1) NOT NULL,
	[reason_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reason_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportReasonMap]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportReasonMap](
	[report_id] [int] NOT NULL,
	[reason_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC,
	[reason_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[result_id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[exam_id] [int] NULL,
	[submit_date] [nvarchar](50) NULL,
	[right_answer] [int] NULL,
	[total_question] [int] NULL,
	[score] [float] NULL,
	[test_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[sectionId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[status] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentChoice]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentChoice](
	[answer_id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NULL,
	[question_id] [int] NULL,
	[selected_choice] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[answer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[subject_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_name] [nvarchar](50) NULL,
	[subject_img] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[task_context] [nvarchar](700) NULL,
	[userID] [int] NULL,
	[task_deadline] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[test_id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[exam_id] [int] NULL,
	[time_left] [int] NULL,
	[shuffle_seed] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserIPHistory]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserIPHistory](
	[ipHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[ipAddress] [nvarchar](50) NOT NULL,
	[userID] [int] NOT NULL,
	[loginDate] [datetime] NULL,
	[isCurrentIP] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ipHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/24/2025 8:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](30) NULL,
	[fullname] [nvarchar](30) NULL,
	[password] [nvarchar](2000) NULL,
	[email] [nvarchar](50) NULL,
	[roles] [int] NULL,
	[avatar] [nvarchar](4000) NULL,
	[balance] [int] NULL,
	[phone] [varchar](50) NULL,
	[localaddress] [nvarchar](4000) NULL,
	[dob] [nvarchar](50) NULL,
	[is_banned] [bit] NULL,
	[token] [varchar](255) NULL,
	[expiry_time] [datetime] NULL,
	[minutes_remaining]  AS (datediff(minute,getdate(),[expiry_time])),
	[otp_code] [nvarchar](10) NULL,
	[otp_verified] [bit] NULL,
	[expiration_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Exam] ON 

INSERT [dbo].[Exam] ([exam_id], [exam_name], [create_date], [userID], [subject_id], [timer], [price], [view_count], [like_count], [is_approved]) VALUES (14, N'Địa 2', N'17-06-2024 17:49:43', 2, 6, 1800, 0, 0, 0, 1)
INSERT [dbo].[Exam] ([exam_id], [exam_name], [create_date], [userID], [subject_id], [timer], [price], [view_count], [like_count], [is_approved]) VALUES (15, N'Địa 5', N'17-06-2024 21:03:14', 2, 6, 5400, 0, 0, 0, 1)
INSERT [dbo].[Exam] ([exam_id], [exam_name], [create_date], [userID], [subject_id], [timer], [price], [view_count], [like_count], [is_approved]) VALUES (16, N'Toan lop 5', N'26-06-2024 15:51:45', 2, 1, 900, 0, 63, 0, 1)
SET IDENTITY_INSERT [dbo].[Exam] OFF
GO
INSERT [dbo].[ExamPayment] ([userID], [exam_id]) VALUES (1003, 17)
INSERT [dbo].[ExamPayment] ([userID], [exam_id]) VALUES (1003, 21)
INSERT [dbo].[ExamPayment] ([userID], [exam_id]) VALUES (1004, 21)
GO
INSERT [dbo].[ExamQuestion] ([question_id], [exam_id]) VALUES (700, 36)
INSERT [dbo].[ExamQuestion] ([question_id], [exam_id]) VALUES (698, 36)
INSERT [dbo].[ExamQuestion] ([question_id], [exam_id]) VALUES (572, 37)
GO
SET IDENTITY_INSERT [dbo].[Flashcard] ON 

INSERT [dbo].[Flashcard] ([flashcardId], [sectionId], [question], [answer], [createdAt], [updatedAt]) VALUES (1, 2, N'What is 5 - 3?', N'2', CAST(N'2024-11-19T00:00:00.000' AS DateTime), CAST(N'2024-11-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Flashcard] ([flashcardId], [sectionId], [question], [answer], [createdAt], [updatedAt]) VALUES (2, 2, N'what 1 + 4 ?', N'5', CAST(N'2024-11-19T00:00:00.000' AS DateTime), CAST(N'2024-11-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Flashcard] ([flashcardId], [sectionId], [question], [answer], [createdAt], [updatedAt]) VALUES (15, 3, N'what 1 + 4 ?', N'5', CAST(N'2024-12-08T10:23:47.920' AS DateTime), CAST(N'2024-12-08T10:23:47.920' AS DateTime))
SET IDENTITY_INSERT [dbo].[Flashcard] OFF
GO
SET IDENTITY_INSERT [dbo].[forum_comment] ON 

INSERT [dbo].[forum_comment] ([comment_id], [userID], [post_id], [comment_context], [comment_date], [comment_react], [commentImg]) VALUES (2, 2, NULL, N'ai mà biết được ạ', N'28-11-2024 19:53:59', 0, NULL)
INSERT [dbo].[forum_comment] ([comment_id], [userID], [post_id], [comment_context], [comment_date], [comment_react], [commentImg]) VALUES (3, 1004, 6, N'Toi cung khong biet
', N'28-11-2024 17:03:14', 0, NULL)
INSERT [dbo].[forum_comment] ([comment_id], [userID], [post_id], [comment_context], [comment_date], [comment_react], [commentImg]) VALUES (4, 1004, 6, N'Toi cung khong biet ', N'28-11-2024 17:03:27', 0, N'uploads/avaUploads/Phan Minh Quân.JPG')
SET IDENTITY_INSERT [dbo].[forum_comment] OFF
GO
SET IDENTITY_INSERT [dbo].[forum_post] ON 

INSERT [dbo].[forum_post] ([post_id], [userID], [post_title], [post_context], [post_date], [post_react], [post_img]) VALUES (6, 1003, N'Câu sinh này làm thế nào nhỉ?', N'Một quần thể thực vật giao phấn, xét 1 gen có 2 alen là E và e. Theo lí thuyết, quần thể có cấu trúc di truyền nào sau đây có tần số các kiểu gen không đổi qua các thế hệ?', N'28-11-2024 19:09:50', NULL, NULL)
INSERT [dbo].[forum_post] ([post_id], [userID], [post_title], [post_context], [post_date], [post_react], [post_img]) VALUES (8, 1004, N'abc', N'y=ax+b', N'28-11-2024 17:01:00', NULL, N'uploads/avaUploads/Untitled.png')
INSERT [dbo].[forum_post] ([post_id], [userID], [post_title], [post_context], [post_date], [post_react], [post_img]) VALUES (14, 1004, N'Trao đổi về môn Toán lớp 12', N'Hãy cùng thảo luận về các chủ đề khó trong môn Toán lớp 12 như tích phân và đạo hàm.', N'2024-12-09', NULL, NULL)
SET IDENTITY_INSERT [dbo].[forum_post] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([notiID], [noti_name], [noti_create_date], [userID]) VALUES (1, N'ngu day', N'09-12-2024 10:45:30', 1)
INSERT [dbo].[notifications] ([notiID], [noti_name], [noti_create_date], [userID]) VALUES (2, N'an sang', N'09-12-2024 10:45:37', 1)
INSERT [dbo].[notifications] ([notiID], [noti_name], [noti_create_date], [userID]) VALUES (3, N'di hoc', N'09-12-2024 10:45:41', 1)
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [userID], [amount], [payment_date], [payment_code], [bank]) VALUES (0, 2, 10000, N'03-07-2024 15:25:03', N'95855199', N'NCB')
INSERT [dbo].[Payment] ([payment_id], [userID], [amount], [payment_date], [payment_code], [bank]) VALUES (1, 2, 10000, N'03-07-2024 15:31:40', N'28572698', N'NCB')
INSERT [dbo].[Payment] ([payment_id], [userID], [amount], [payment_date], [payment_code], [bank]) VALUES (2, 2, 500000, N'03-07-2024 16:28:48', N'55316997', N'NCB')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionBank] ON 

GO
SET IDENTITY_INSERT [dbo].[QuestionBank] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([report_id], [userID], [user_reported_id], [report_Context], [report_date], [report_img], [post_id]) VALUES (18, 1005, 1004, N'', N'16-12-2024 08:35:40', N'uploads/reportUploads/Capture.JPG', NULL)
INSERT [dbo].[Report] ([report_id], [userID], [user_reported_id], [report_Context], [report_date], [report_img], [post_id]) VALUES (20, 1004, 1016, N'', N'20-01-2025 21:55:15', N'uploads/reportUploads/Capture.JPG', NULL)
INSERT [dbo].[Report] ([report_id], [userID], [user_reported_id], [report_Context], [report_date], [report_img], [post_id]) VALUES (21, 1016, 3, N'op', N'22-01-2025 22:47:43', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportReason] ON 

INSERT [dbo].[ReportReason] ([reason_id], [reason_name]) VALUES (1, N'Lạm dụng ngôn từ')
INSERT [dbo].[ReportReason] ([reason_id], [reason_name]) VALUES (2, N'Hành vi gây rối diễn đàn')
INSERT [dbo].[ReportReason] ([reason_id], [reason_name]) VALUES (3, N'Tạo bài đăng sai mục đích')
SET IDENTITY_INSERT [dbo].[ReportReason] OFF
GO
INSERT [dbo].[ReportReasonMap] ([report_id], [reason_id]) VALUES (18, 4)
INSERT [dbo].[ReportReasonMap] ([report_id], [reason_id]) VALUES (20, 5)
INSERT [dbo].[ReportReasonMap] ([report_id], [reason_id]) VALUES (21, 4)
GO
SET IDENTITY_INSERT [dbo].[Result] ON 

INSERT [dbo].[Result] ([result_id], [userID], [exam_id], [submit_date], [right_answer], [total_question], [score], [test_id]) VALUES (1, 2, 15, N'23-06-2024 22:14:07', 0, 20, 0, 1)
INSERT [dbo].[Result] ([result_id], [userID], [exam_id], [submit_date], [right_answer], [total_question], [score], [test_id]) VALUES (2, 2, 15, N'23-06-2024 22:15:15', 5, 20, 2.5, 2)
INSERT [dbo].[Result] ([result_id], [userID], [exam_id], [submit_date], [right_answer], [total_question], [score], [test_id]) VALUES (3, 2, 15, N'23-06-2024 23:00:54', 2, 20, 1, 3)
SET IDENTITY_INSERT [dbo].[Result] OFF
GO
SET IDENTITY_INSERT [dbo].[Section] ON 

INSERT [dbo].[Section] ([sectionId], [userId], [title], [description], [createdAt], [updatedAt], [status]) VALUES (1, 1, N'Updated Title', N'Updated description', CAST(N'2024-11-19T00:00:00.000' AS DateTime), CAST(N'2024-11-26T00:00:00.000' AS DateTime), N'public')
INSERT [dbo].[Section] ([sectionId], [userId], [title], [description], [createdAt], [updatedAt], [status]) VALUES (2, 2, N'Advanced English', N'Improve your English', CAST(N'2024-11-19T00:00:00.000' AS DateTime), CAST(N'2024-11-19T00:00:00.000' AS DateTime), N'public')
INSERT [dbo].[Section] ([sectionId], [userId], [title], [description], [createdAt], [updatedAt], [status]) VALUES (3, 3, N'Programming', N'Introduction to programming', CAST(N'2024-11-19T00:00:00.000' AS DateTime), CAST(N'2024-12-08T10:23:47.900' AS DateTime), N'public')
SET IDENTITY_INSERT [dbo].[Section] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentChoice] ON 

INSERT [dbo].[StudentChoice] ([answer_id], [test_id], [question_id], [selected_choice]) VALUES (1, 2, 45, N'chỉ tiếp giáp các nước ở trên đất liền')
INSERT [dbo].[StudentChoice] ([answer_id], [test_id], [question_id], [selected_choice]) VALUES (2, 2, 23, N'Quảng Ninh')
INSERT [dbo].[StudentChoice] ([answer_id], [test_id], [question_id], [selected_choice]) VALUES (3, 2, 40, N'hoàn toàn do Ngoài Nhà nước quản lí')
SET IDENTITY_INSERT [dbo].[StudentChoice] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([subject_id], [subject_name], [subject_img]) VALUES (1, N'Toán', N'img/toan.jpg')
INSERT [dbo].[Subjects] ([subject_id], [subject_name], [subject_img]) VALUES (2, N'Vật Lý', N'img/vatly.jpg')
INSERT [dbo].[Subjects] ([subject_id], [subject_name], [subject_img]) VALUES (3, N'Hóa', N'img/hoahoc.jpg')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([task_id], [task_context], [userID], [task_deadline]) VALUES (18, N'di hoc', 1016, CAST(N'2025-01-20T22:00:00.000' AS DateTime))
INSERT [dbo].[Task] ([task_id], [task_context], [userID], [task_deadline]) VALUES (19, N'di hoc', 3, CAST(N'2025-01-23T23:10:00.000' AS DateTime))
INSERT [dbo].[Task] ([task_id], [task_context], [userID], [task_deadline]) VALUES (20, N'di choi', 3, CAST(N'2025-01-17T23:11:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([test_id], [userID], [exam_id], [time_left], [shuffle_seed]) VALUES (1, 2, 15, 0, -1420707425026358448)
INSERT [dbo].[Tests] ([test_id], [userID], [exam_id], [time_left], [shuffle_seed]) VALUES (2, 2, 15, 0, -232763638630134975)
INSERT [dbo].[Tests] ([test_id], [userID], [exam_id], [time_left], [shuffle_seed]) VALUES (3, 2, 15, 0, -2621896346018119559)
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[UserIPHistory] ON 

INSERT [dbo].[UserIPHistory] ([ipHistoryID], [ipAddress], [userID], [loginDate], [isCurrentIP]) VALUES (9, N'0:0:0:0:0:0:0:1', 3, CAST(N'2024-12-06T16:19:58.447' AS DateTime), 1)
INSERT [dbo].[UserIPHistory] ([ipHistoryID], [ipAddress], [userID], [loginDate], [isCurrentIP]) VALUES (10, N'0:0:0:0:0:0:0:1', 1, CAST(N'2024-12-06T16:20:06.630' AS DateTime), 1)
INSERT [dbo].[UserIPHistory] ([ipHistoryID], [ipAddress], [userID], [loginDate], [isCurrentIP]) VALUES (11, N'0:0:0:0:0:0:0:1', 2, CAST(N'2024-12-06T16:20:08.473' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserIPHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([userID], [username], [fullname], [password], [email], [roles], [avatar], [balance], [phone], [localaddress], [dob], [is_banned], [token], [expiry_time], [otp_code], [otp_verified], [expiration_date]) VALUES (1, N'admin', NULL, N'd82494f05d6917ba02f7aaa29689ccb444bb73f20380876cb05d1f37537b7892', N'admin@admin.com', 1, N'img/default.png', 110, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[Users] ([userID], [username], [fullname], [password], [email], [roles], [avatar], [balance], [phone], [localaddress], [dob], [is_banned], [token], [expiry_time], [otp_code], [otp_verified], [expiration_date]) VALUES (2, N'GoldCandy', N'Hoàng Anh Minh', N'a2d21d818aaa8805f7c939e460c6d41ca4b5c43966b1956dcf68c01889e9b7fb', N'anhminhnamly1@gmail.com', 3, N'uploads/avaUploads/GbtyASRW4AQJddZ.jpg', 991, N'0917375486', N'18 Lý Thánh Tông', N'05-06-2004', 0, N'd1a60414-bf1d-4f05-80a6-fd8501440aeb', CAST(N'2024-07-13T14:44:57.567' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[Users] ([userID], [username], [fullname], [password], [email], [roles], [avatar], [balance], [phone], [localaddress], [dob], [is_banned], [token], [expiry_time], [otp_code], [otp_verified], [expiration_date]) VALUES (3, N'Hoang Anh Minh', N'', N'966d5fd6106dc9bb4b22e49b59db750f6c5027e7c4b5793dbf6d1953341921fe', N'minhhade180652@fpt.edu.vn', 2, N'uploads/avaUploads/Phan Minh Quân.JPG', 20, N'', N'', N'', 0, NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Exam] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[Exam] ADD  DEFAULT ((0)) FOR [like_count]
GO
ALTER TABLE [dbo].[Exam] ADD  DEFAULT ((0)) FOR [is_approved]
GO
ALTER TABLE [dbo].[Flashcard] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Section] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Section] ADD  DEFAULT ('public') FOR [status]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [fk_subject_exam] FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subjects] ([subject_id])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [fk_subject_exam]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [fk_user_exam] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [fk_user_exam]
GO
ALTER TABLE [dbo].[ExamPayment]  WITH CHECK ADD  CONSTRAINT [fk_exam_exampay] FOREIGN KEY([exam_id])
REFERENCES [dbo].[Exam] ([exam_id])
GO
ALTER TABLE [dbo].[ExamPayment] CHECK CONSTRAINT [fk_exam_exampay]
GO
ALTER TABLE [dbo].[ExamPayment]  WITH CHECK ADD  CONSTRAINT [fk_user_exampay] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[ExamPayment] CHECK CONSTRAINT [fk_user_exampay]
GO
ALTER TABLE [dbo].[ExamQuestion]  WITH CHECK ADD  CONSTRAINT [fk_exam_id_examquestion] FOREIGN KEY([exam_id])
REFERENCES [dbo].[Exam] ([exam_id])
GO
ALTER TABLE [dbo].[ExamQuestion] CHECK CONSTRAINT [fk_exam_id_examquestion]
GO
ALTER TABLE [dbo].[ExamQuestion]  WITH CHECK ADD  CONSTRAINT [fk_question_id_examquestion] FOREIGN KEY([question_id])
REFERENCES [dbo].[QuestionBank] ([question_id])
GO
ALTER TABLE [dbo].[ExamQuestion] CHECK CONSTRAINT [fk_question_id_examquestion]
GO
ALTER TABLE [dbo].[Flashcard]  WITH CHECK ADD  CONSTRAINT [FK_Flashcard_Section] FOREIGN KEY([sectionId])
REFERENCES [dbo].[Section] ([sectionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Flashcard] CHECK CONSTRAINT [FK_Flashcard_Section]
GO
ALTER TABLE [dbo].[forum_comment]  WITH CHECK ADD  CONSTRAINT [fk_user_comment] FOREIGN KEY([post_id])
REFERENCES [dbo].[forum_post] ([post_id])
GO
ALTER TABLE [dbo].[forum_comment] CHECK CONSTRAINT [fk_user_comment]
GO
ALTER TABLE [dbo].[forum_comment]  WITH CHECK ADD  CONSTRAINT [fk_user_user_comment] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[forum_comment] CHECK CONSTRAINT [fk_user_user_comment]
GO
ALTER TABLE [dbo].[forum_post]  WITH CHECK ADD  CONSTRAINT [fk_user_post] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[forum_post] CHECK CONSTRAINT [fk_user_post]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_ChildTable_ParentTable] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_ChildTable_ParentTable]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [fk_user_id_payment] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [fk_user_id_payment]
GO
ALTER TABLE [dbo].[QuestionBank]  WITH CHECK ADD  CONSTRAINT [fk_question_id] FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subjects] ([subject_id])
GO
ALTER TABLE [dbo].[QuestionBank] CHECK CONSTRAINT [fk_question_id]
GO
ALTER TABLE [dbo].[QuestionBank]  WITH CHECK ADD  CONSTRAINT [fk_user_question_bank] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[QuestionBank] CHECK CONSTRAINT [fk_user_question_bank]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_ForumPost] FOREIGN KEY([post_id])
REFERENCES [dbo].[forum_post] ([post_id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ForumPost]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [fk_user_id_reported] FOREIGN KEY([user_reported_id])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [fk_user_id_reported]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [fk_user_report] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [fk_user_report]
GO
ALTER TABLE [dbo].[ReportReasonMap]  WITH CHECK ADD FOREIGN KEY([reason_id])
REFERENCES [dbo].[ReportReason] ([reason_id])
GO
ALTER TABLE [dbo].[ReportReasonMap]  WITH CHECK ADD FOREIGN KEY([report_id])
REFERENCES [dbo].[Report] ([report_id])
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [fk_exam_result] FOREIGN KEY([exam_id])
REFERENCES [dbo].[Exam] ([exam_id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [fk_exam_result]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [fk_test_result] FOREIGN KEY([test_id])
REFERENCES [dbo].[Tests] ([test_id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [fk_test_result]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [fk_user_result] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [fk_user_result]
GO
ALTER TABLE [dbo].[Section]  WITH CHECK ADD  CONSTRAINT [FK_Section_User] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Section] CHECK CONSTRAINT [FK_Section_User]
GO
ALTER TABLE [dbo].[StudentChoice]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[QuestionBank] ([question_id])
GO
ALTER TABLE [dbo].[StudentChoice]  WITH CHECK ADD FOREIGN KEY([test_id])
REFERENCES [dbo].[Tests] ([test_id])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [fk_exam_id] FOREIGN KEY([exam_id])
REFERENCES [dbo].[Exam] ([exam_id])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [fk_exam_id]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [fk_user_test] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [fk_user_test]
GO
ALTER TABLE [dbo].[UserIPHistory]  WITH CHECK ADD  CONSTRAINT [FK_UserIPHistory_Users] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[UserIPHistory] CHECK CONSTRAINT [FK_UserIPHistory_Users]
GO
USE [master]
GO
